body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("forest.jpg");
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: relative;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Login-Screen*/

.login-input {
  border-style: none;
  position: absolute;
  color: rgb(10, 148, 20);
  left: 12%;
  top: 40%;
  height: 25px;
  font-size: 15px;
  outline:none;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}

.login-input:focus{
  border-bottom: 3px solid rgb(10, 148, 20);
  transition: 0.3s;

}

.btn-L {
  position: absolute;
  left: 70%;
  top: 40%;
  height: 27.5px;
  border-style: none;
  background-color: grey;
  color: white;
}

.login-div{
  width: 300px;
  height: 200px;
  position: relative;
  top: 360px;
  left: 40%;
  background:rgba(0, 0, 0, 0.67);
}

.btn-L:hover {
  background:white;
  cursor: pointer;
  transition: all 300ms;
  color: black;
}

::placeholder{
  font-size: 15px;
}


/* chatroom */
.big-div{
  position: relative;
  bottom:24%;

}
.bigroom{
  overflow: auto;
  width: 600px;
  height: 400px;
  border:1px solid black;
  color: white;
  background:rgba(0, 0, 0, 0.67);
  position: relative;
  left: 360px;
  top: 50px;
}

.chatroom{
  max-height: 100px;
  border-bottom: 1px solid black;
  position: relative;


}

.btn-send {
  height: 37px;
  width: 70px;
  top: 490px;
  left: 360px;
  border-style: none;
  background:rgb(10, 148, 20);
  color: white;
  position: relative;
  font-size: 16px;
}

.btn-send:hover {
  opacity: 0.7;
  cursor: pointer;
}

.input-send{
  width:530px;
  height: 35px;
  left: 360px;
  top: 493px;
  font-size: 22px;
  position:relative;
  outline: none;
  border:none;
  color:rgb(10, 148, 20);
}


/* username */

.user-chat{
  color:rgb(10, 148, 20);
  font-size: 23px;
  margin-bottom: 1px;
  margin-top: 10px;
  margin-left: 10px;
}

.message-chat {
  font-style: italic;
  font-size: 15px;
  margin-top: 1px;
  margin-left: 10px;
}

.header {
  font-size: 30px;
  color: white;
  position: relative;
  bottom: 372px;
  text-align: center;
  background:rgb(10, 148, 20);
  width:602px;
}

.error-len {
  color: white;
  position: relative;
  top: 120px;
  text-align: center;
}

.error-signs {
  color: red;
  position: relative;
  top: 120px;
  font-size: 12px;
  text-align: center;
}

.signout{
  width:602px;
  height: 35px;
  left: 360px;
  top: 100px;
  font-size: 22px;
  position:relative;
  outline: none;
  border:none;
  color:rgb(10, 148, 20);
}


.signout:hover {
  opacity: 0.7;
  cursor: pointer;

}
